body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: "Inter", "Segoe UI", sans-serif;
}

.mobile-container {
  width: 360px;
  min-height: 100vh;
  margin: auto;
  background-color: #ffffff;
  padding: 32px 20px;
}


h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #1d1d1d;
}

p {
  font-size: 14px;
  color: #6f6f6f;
  line-height: 1.5;
  margin-bottom: 20px;
}

.signup-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 24px;
  color: #1d1d1d;
}


.form-container {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 13px;
  font-weight: 500;
  color: #6c25ff;
  display: block;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #6c25ff;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.primary-btn {
  background-color: #6c25ff;
  color: white;
}

.secondary-btn {
  background-color: #f1ebff;
  color: #6c25ff;
  margin-top: 12px;
}

.disabled-btn {
  background-color: #d3d3d3;
  color: white;
  cursor: not-allowed;
}

.landing {
  margin-top: 180px;
}

.agency-text {
  margin-top: 10px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #1d1d1d;
}

.radio-row {
  display: flex;
  gap: 32px;
  padding-left: 4px;   
  margin-bottom: 36px;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 10px;           
  font-size: 14px;
  color: #1d1d1d;
  cursor: pointer;
}


.radio-label input[type="radio"] {
  accent-color: #6c25ff;
  width: 16px;
  height: 16px;
}

.profile-card {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.profile-header img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
